*.txt
*.csv
*.pdf
*.png
*.jpg
*.pkl
*.json
*.svg
*.log
*tmp/*
*clustered/*
*merged_results/*
*autoregressive_model/*
*plots/*
*outputs/*
*.biounit
*.bioent
*.pdb
*.mmcif
*.cif
*/pdb_to_predict/*
*.err
*.out
*.index